<?xml version='1.0' encoding='utf-8'?>
<plugin id="br.com.neton.appinstaller" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaAppInstaller</name>
    <description>Permite instalar/atualizar um aplicativo diretamente através do cordova</description>
    <js-module name="AppInstaller" src="www/AppInstaller.js">
        <clobbers target="cordova.AppInstaller"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppInstaller">
                <param name="android-package" value="br.com.neton.appinstaller.CDVAppInstaller"/>
            </feature>
        </config-file>
        <source-file src="src/android/CDVAppInstaller.java" target-dir="src/br/com/neton/appinstaller"/>
    </platform>
</plugin>
